<!DOCTYPE html>
<html lang="en">
    <section id="head">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my ascii web project</title>
    </head>
    </section>

    <section id="body">
    <body>
        <form action="" target="_self" method="get">
            <fieldset>
                <legend>Welcome to our ascii-art Application</legend>

                <label for="itext">Enter Text To Be Converted</label><br>
                <input type="text" id="itext" name="" value="">
                
                <label for="banner">Standard</label>
                <input type="radio" id="standard.txt" name="banner" value="Standard">
                <label for="banner">Shadow</label>
                <input type="radio" id="shadow.txt" name="banner" value="Shadow">
                <label for="banner">Thinkertoy</label>
                <input type="radio" id="thinkertoy.txt" name="banner" value="Thinkertoy">

            </fieldset>
            <input type="submit" value="Click Here to Get Result">

            <fieldset>
                <legend>Here's your ascii-art Result</legend>
                <textarea name="result" id="" style="width:600px;height:200px;">Result</textarea>
            </fieldset>

        </form>
    
    </body>
    </section>
</html>